# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e12c8faf214e8e08928ea0400f80e95c51ee4160856923590029e698d4c35e33de847ed6f43145d9ec603276d58a6413f949d85a0451db8114c85f49374dbd7e

test:
  secret_key_base: b9cee5b847870289ec53daf54a14a2d597ef3e103b3f2196b1d9ef4f940849d8bff133440f13965dba5b30b8620a47c2b4ce44f70ba5afe87cb173e727b240b3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
